<p>
<strong>First Name:</strong>
<%= @user.first_name %>

</p>
<p>
<strong>Last Name:</strong>
<%= @user.last_name %>

</p>
<p>
<strong>Email:</strong>
<%= @user.email %>
</p>
<p>
  <strong>Orders:</strong>
  <ul>
  <% @user.orders.each do |order| %>
    <li>
      <%= link_to "Fiber Length "+order.fiber_length.to_s+" Copper Length "+order.copper_length.to_s+" Created at "+order.updated_at.to_s, order %>
    </li>
  <% end %>
  </ul>
</p>
<%= link_to "Home", new_order_path %>
