<%= render 'form' %>
<p>
<strong>Pre-Calculated Cable Slack:</strong>
<%= @order.pccs%>
</p>
<p>
<strong>Rack U Subtotal:</strong>
<%= @order.rack_u_subtotal%>
</p>
<p>
<strong>Length in Inches:</strong>
<%= @order.length_in_inch%>
</p>
<p>
<strong>Feet:</strong>
<%= @order.feet%>
</p>
<p>
<strong>Meters:</strong>
<%= @order.meters%>
</p>
<!--<strong>User:</strong>-->
<%#= @order.user.name%>
</p>