<strong>Feet:</strong>
<%= @order.feet%>
</p>
<p>
<strong>Meters:</strong>
<%= @order.meters%>
</p>
<p>
<strong>Copper:</strong>
<%= @order.copper_length%>
</p>
<p>
<strong>Fiber:</strong>
<%= @order.fiber_length%>
</p>





<%= link_to "Home", new_order_path %>