<!DOCTYPE html>
<html>
<head>

  <title>SexyCalculator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id= "header">
		<div id="header_inside">
			<h1><span>Cable</span> Calculator</h1>
			<ul>

				<% if user_signed_in? %>
					<li><%= link_to "Profile", user_path(current_user) %></li>
					<li><%= link_to "Sign Out", session_path, method: "delete" %></li>

				<% else %>

					<li><%= link_to "Sign Up", new_user_path %></li>
					<li><%= link_to "Sign In", new_session_path %></li>
				<% end %>

		<li><%= link_to "Home", new_order_path %></li>
			</ul>
		</div>
	</div>
	<div id="content">
		<div id="content_inside">
			<div id="content_inside_main">
				<div id="flash-notice">
					<%= notice %>
				</div>
				<div id="flash-alert">
					<%= alert %>
				</div>

				<%= yield %>



			</div>
		</div>
	</div>
	<div id="footer">
		<div id="footer_inside">
			<p>Copywrite Mar 2015 Cody Brown, Sam Struck, Karl Wilcock, and Scott Serage</p>
		</div>
	</div>

</body>
</html>